<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document

        //- CSS

        link(rel="stylesheet", href="css/style.css", type="text/css")


    body

        //- Navigation

        .topbar
            nav
                .nav-logo
                    img(src="bilder/logo.svg", alt="Logo des Unternehmens", srcset="")
                ul.nav-desktop.hidden
                    li
                        a(href="#") li_one
                    li
                        a(href="#") li_two
                    li
                        a(href="#") li_three
                    li
                        a(href="#") li_four
                    li
                        a(href="#") li_five
                ul.nav-mobile
                    li
                        a(href="#") li_one
                    li
                        a(href="#") li_two
                    li
                        a(href="#") li_three
                    li
                        a(href="#") li_four
                    li
                        a(href="#") li_five
                    .nav-mobile-close
                .nav-mobile-burger
                    .bun.top
                    .bun.middle
                    .bun.bottom
        
        //- Navigation Ende

        //- Header

        header
            .header-claim
                h1 Hello - World!
                h2 Du geilste aller Säue

            button.btn-1
            button.btn-2

        //- Header Ende

        //- Content

        main

            section.section-1
                h3
                p

            section.section-2
                h3
                p

            section.section-3
                h3
                p

            section.section-4
                h3
                p

            section.section-5
                h3
                p
        
        //-Content Ende

        //-Footer

        footer

        //-Footer Ende

        //-Jquery

        script(src='js/functions.js')